.hero-section {
  position: relative;
  overflow: hidden;
  background: $odoo-blue;
  padding-bottom: 200px;

  &::after {
    content: "";
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 180px;
    background: white;
    transform: skewY(-5deg);
  }
}
