.task-card {
  background: white;
  border-radius: 20px;
  padding: 30px;
  position: relative;
  z-index: 2;
}

.progress {
  height: 4px;
  border-radius: 4px;
  background: #eee;

  .progress-bar {
    background-color: $odoo-progress-bar;
  }
}

.task-image {
  width: 260px;
  border-radius: 20px;
  position: absolute;
  top: -90px;
  left: 300px;
  z-index: 3;

  @media (max-width: 992px) {
    position: static;
    width: 100%;
    margin-top: 20px;
  }
}

.common-image {
  width: 500px;
  border-radius: 20px;
}
