.task-card {
  background: white;
  border-radius: 20px;
  padding: 30px;
  position: relative;
  z-index: 2;
}

.progress {
  height: 4px;
  border-radius: 4px;
  background: #eee;

  .progress-bar {
    background-color: $odoo-progress-bar;
  }
}

.task-image {
  width: 260px;
  border-radius: 20px;
  position: absolute;
  top: -90px;
  left: 300px;
  z-index: 3;

  @media (max-width: 992px) {
    position: static;
    width: 100%;
    margin-top: 20px;
  }
}

.common-image {
  width: 500px;
  border-radius: 20px;
}

#features {
  .form-check-input {
    border-color: $odoo-green;
    background-color: transparent;
    width: 18px;
    height: 18px;
    cursor: pointer;

    &:checked {
      background-color: $odoo-green;
      border-color: $odoo-green;
    }
  }

  .form-check-label {
    color: $odoo-green;
    font-weight: 500;
  }
}

.icon-circle {
  width: 32px;
  height: 32px;
  display: inline-flex;
  border-radius: 50%;
  background-color: $odoo-green;
}

.icon-profile {
  width: 32px;
  height: 32px;
  display: inline-flex;
  border-radius: 50%;
}

/* Company icon */
.company-icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
  display: block;
  margin: 15px auto 0;
}

/* Avatars group */
.avatar-group {
  display: flex;
  justify-content: center;
}

.avatar-small {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  margin-left: -10px;
  margin-bottom: 10px;

  &:first-child {
    margin-left: 0;
  }
}

/* DESKTOP CARDS VIEW */
@media (min-width: 992px) {

  /* Odd cards up*/
  #awards .row > div:nth-child(odd) .award-card {
    transform: translateY(-22px);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
  }

  /* Even cards down */
  #awards .row > div:nth-child(even) .award-card {
    transform: translateY(22px);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
  }

  /* Hover */
  #awards .row > div:nth-child(odd) .award-link:hover .award-card {
    transform: translateY(-35px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  }

  #awards .row > div:nth-child(even) .award-link:hover .award-card {
    transform: translateY(5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  }
}

/* MOBILE/TABLET RESET */
@media (max-width: 991px) {
  #awards .award-card {
    transform: none !important;
  }
}

.features-pill {
  background-color: $odoo-green;
}
